		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<h3>Links</h3>
							<ul class="icons">
								<li> <a href="http://lgge.osug.fr/meom/"><img src="{{ site.baseurl }}/assets/images/meom-name.png" alt=""  height="70" ></a> </li>
								<li> <a href="http://lgge.osug.fr"><img src="{{ site.baseurl }}/assets/images/lgge.jpg" alt=""  height="50" ></a> </li>
								<li> <a href="http://www.cnrs.fr"><img src="{{ site.baseurl }}/assets/images/cnrs.png" alt=""  height="70" ></a> </li>
								<li> <a href="http://www.cnes.fr"><img src="{{ site.baseurl }}/assets/images/cnes.jpg" alt=""  height="70" ></a> </li>
								<li> <a href="https://swot.cnes.fr"><img src="{{ site.baseurl }}/assets/images/SWOT.gif" alt=""  height="70" ></a> </li>
							</ul>
						</div>

						<section class="6u">
							<h3>Contact</h3>
							<div class="row half">
								<ul>
      									 <li> <i class="icon fa-envelope"></i>  <a href="mailto:swot-natl60@groupes.renater.fr">swot-natl60@groupes.renater.fr</a> </li>
      									 <li> <i class="icon fa-map-marker"></i>  <span class="inner"> MEOM/LGGE, 1025 rue de la piscine, Domaine Universitaire, St Martin d’Hères </span></li>
      									 <li> <i class="icon fa-pencil"></i>  <span class="inner"> MEOM/LGGE, BP53, 38041 Grenoble Cedex 9 France</span></li>
    									 <li> <i class="icon fa-phone"></i>  <span class="inner"> +33 4 76 82 50 65</span></li>
    									 <li> <i class="icon fa-github"></i>  <a href="https://github.com/meom-group">MEOM group</a> </li>
    								</ul>
    							
    							</div>
						</section>
					</div>
				</div> 

				

	</body>
</html>
